/**
 * @author Prénom Nom courriel
**/

/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - menu
 * - Bouton du menu
 * - Liste du menu
 * - Item de la Liste 
 * - Liens du menu
 * Styles conditionnels au JavaScript
 */

/****** Base commune *******/
/* menu */

.nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}   


@media (min-width: 600px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}


/* Bouton du menu */
.nav__control {
    display: flex;
    gap: 5px;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    min-width: 40px;
   
}


@media (min-width: 600px) {
    .nav__control {
        display: none;
    }
}

.nav__control:hover,
.nav__control:active {
    color: #fff;
    background-color: var(--clr-gis);
}

.nav__control:focus {
    /* En mettant la règle outline: none;, les styles du navigateur
     * pour les éléments en cours de focus sont effacés. Il faut alors
     * les remplacer par d'autres styles qui peuvent être plus
     * en accord avec la direction visuelle du projet.
     */
    outline: none;
    /* AUTRES STYLES EN REMPLACEMENT DU OUTLINE */
    /*
     * Les règles outline-offset et outline permettent
     * de modifier l'apparence du outline par défaut des navigateurs.
     */      
    outline: 3px solid #A6751B;     /* couleur et épaisseur */
    outline-offset: -4px;            /* espace entre le bouton et l’outline */
    border-radius: 4px;            /* coins arrondis */

}


.nav__control:before {
    display: inline-block;
    content: "";
    width: 1em;
    height: 1em;
    
    /* compléter pour afficher l’icône X */
    background-image: url(../images/ico-fermer.svg);
    background-repeat: no-repeat;

    background-size: contain;
}

.nav--closed .nav__control:before {
    /* compléter pour afficher l’icône Hamburger */
    background-image: url(../images/ico-menu.svg);
}

/* Liste du menu */
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: none;
    flex: 1 1 100%;
    text-align: left;
    
}


@media (min-width: 600px) {
    .nav__list {
        flex: none;
        margin: auto 0;
    }
    
}

@media (max-width: 600px) {
    .nav__list::after {
        content: "";
        display: block;
        height: 4px;
        background-color: var(--clr-gis); /* trait gris clair */
        width: 96%;
        margin: 0 auto;
        margin-top: 25px;
    }
    
}


/* Item de la Liste */

@media (min-width: 600px) {
    .nav__list-item {
        display: inline-block;
        width: auto;
        padding: 0;
        margin-right: 10px;
    }
}

/* Liens du menu */
.nav__link {
    background-color: none;
    display: block;
    padding: 5px 10px;
    width: 100%;
    
}
@media (min-width: 600px) {
    .nav__link {
        display: inline-block;
        width: auto;
        padding: 0;
        
    }
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: inherit;
}

.nav__link:hover {
    color: var(--clr-jaune);
    
}

.nav__link:active {
    color: #fff;
    background-color: rgb(129, 129, 3);
}


.nav__link:focus {
    outline: none;
    border-left: var(--border-5px) solid var(--clr-jaune);
    margin: 10px;
}
@media (min-width: 600px) {
    .nav__link:focus {
        border-left: none;
        padding-bottom: 6px;
        border-bottom: var(--border-5px) solid var(--clr-jaune);
    }
}


/** Une classe nav__link--active
    sert à définir un état différent
    pour l'item de menu actif
    **/
.nav__link--active {
    border-left: var(--border-5px) solid rgba(101, 68, 180, 1);
}

@media (min-width: 600px) {
    .nav__link--active {
        border-left: none;
        border-bottom: var(--border-5px) solid rgba(101, 68, 180, 1);
    }
}


/* L'ajout par JavaScript de la classe .js
 * permet de rédiger des sélecteurs conditionnels à ce que Javascript est actif
 * De cette façon,
 *** en l'absence de JavaScript le menu restera visible et accessible
 *** en présence de JavaScript le menu est caché
 */
@media (max-width: 599px) {
    .js .nav__list {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height 2s;
    }

    .js .nav--closed .nav__list {
        max-height: 0;
        transition: max-height 0.5s;
    }

}